<a href="https://colab.research.google.com/github/shahidul-shabuz/Python-Programming/blob/main/OOP_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Constructor program exercise***

In [ ]:
class student:
        def __init__(self):
          print(self) #Object call whenever it created
          print('object is created')

#variable = class_name()
s1 = student()
s2 = student()
print(s1,s2)

<__main__.student object at 0x7f281ec45780>
object is created
<__main__.student object at 0x7f281ec47640>
object is created
<__main__.student object at 0x7f281ec45780> <__main__.student object at 0x7f281ec47640>

***Class Object Constructor attributes*** Exercise

In [ ]:
class student:
  def __init__(self,name,id):
    self.name = name  # instance variable
    self.id = id      # instance variable


s1 = student("shabuz",10)
s2 = student("juwel",17)
#s1.id = 33
print(s1.name)
print(s1.id)
print(s2.name)
print(s2.id)

shabuz
33
juwel
17

***Instance Method***

In [ ]:
class student:
  def __init__(self,name,id):
    self.name = name  # instance variable
    self.id = id      # instance variable
  def display(self):         # instance method
    print("name:",self.name,"ID:",self.id)


s1 = student("shabuz",10)
s2 = student("juwel",17)
#s1.id = 33
s1.display()
s2.display()
#s1.display()

name: shabuz ID: 10
name: juwel ID: 17
name: shabuz ID: 10

***Example of instance variable and method 2 ***

In [ ]:
class house:
  def __init__(self):
    self.window = 4      #instance varibale
    self.door = 6         #instance varibale
  def view(self):
    print(self.window,"window",self.door,"door")

h1 = house()
h2 = house()

#print(h1)
#print(h2)
#h1.door = 4
#h2.window = 7
h1.view()
h2.view()

<__main__.house object at 0x7f283f1a09a0>
<__main__.house object at 0x7f283f1a16c0>
4 window 6 door
4 window 6 door

***Set_Value and Get_value***

In [ ]:
class Book:
      def __init__(self,name,author):
        self.name = name
        self.author = author
        self.price = 0
      def set_price(self,price):
        self.price = price
      def get_price(self):
        return self.price
      def details(self):
        print("Book Name:",self.name,
            "\nAuthor Name:",self.author,"\nPrice:",self.price,"Taka")


b1 = Book("The 5 seconds rules","Mel Robbin")
b1.details()
b1.set_price(550)
b1.get_price()

Book Name: The 5 seconds rules
Author Name: Mel Robbin
Price: 0 Taka

550

***Call/Pass by Reference ***

In [ ]:
class dog:
  def __init__(self,color,action):
    self.color = color
    self.action = action
  def display(self):
    print(self.color,"is a dog",self.action)
  def compare(self,com):
    if self.action == com.action:
      print("Both dog are",com.action)
    else:
      print("They are different")


d1 = dog("White","Barking")
d2 = dog("Black","Jumping")
#d1.display()
#d2.display()
d1.compare(d2) #pass by reference

White is a dog Barking
Black is a dog Jumping
They are different

**Call by Value and Reference**

In [ ]:
class dog:
  def __init__(self,color,action):
    self.color = color
    self.action = action
  def display(self,num,colr):
    num = num + 5
    clr1 = colr
    clr1[0] = "GREEN"
    print("Method inside",num)
    print("Method inside",clr1)

colors = ["White","Red","Yellow","Blue"]
d1 = dog("Black","Barking")
x = 55
d1.display(x,colors)
print("Method inside",x)
print("Method inside",colors)

Method inside 60
Method inside ['GREEN', 'Red', 'Yellow', 'Blue']
Method inside 55
Method inside ['GREEN', 'Red', 'Yellow', 'Blue']

***Method Overloading ***

In [ ]:
class my_calculator:
  def product(self,num1,num2):
    print(num1*num2)
  def product(self,num1,num2,num3): #Method overloading
    print(num1*num2)

cal = my_calculator()
cal.product(4,5)
cal.product(4,5,7)

TypeError: ignored

**Method Overloading manually solution**

In [ ]:
class my_calculator:
  def product(self,num1,num2 = None,num3 = None):
    if num1 != None and num2 != None and num3 !=None:
      print(num1*num2*num3)
    elif num1 != None and num2 != None:
      print(num1*num2)
    else:
      print(1*num1)



cal = my_calculator()
cal.product(4,5)
cal.product(4,5,7)

20
140

**Method Overloading Solutions**

In [ ]:
class my_calculator:
  def product(self,*nums):
    sum = 1
    for x in nums:
      sum = sum *x
    print(sum)




cal = my_calculator()
cal.product(4,5)
cal.product(4,5,7)

20
140

**Method Overloading Solution using import libaries**

In [ ]:
from multipledispatch import dispatch
class my_calculator:
  @dispatch(int,int)
  def product(self,a,b):
    print(a*b)
  @dispatch(int,int,int)
  def product(self,a,b,c):
    print(a*b*c)
  @dispatch(str,str)
  def product(self,a,b):
    print(int(a)*int(b))

cal = my_calculator()
cal.product(4,5)
cal.product(4,5,7)
cal.product(10,12)

20
140
120

***Constructor Overloading ***

In [ ]:
class student:
  def __init__(self,name,id):
    self.name = name
    self.id = id
  def __init__(self,name,id,cg):
    self.name = name
    self.id = id
    self.CGPA = cg


s1 = student("marzan",12)
s2 = student("torikul",13)

TypeError: ignored

***Achieving Constructor Overloading ***

In [ ]:
class student:
  def __init__(self,*info):
    if len(info) == 3:
      self.name = info[0]
      self.id = info[1]
      self.CGPA = info[2]
    elif len(info) == 2:
       self.name = info[0]
       self.id = info[1]
    print("A student object is created")


s1 = student("marzan",12)
s2 = student("torikul",13)

A student object is created
A student object is created

***Operator Overloading ***

In [ ]:
class sum:
  def __init__(self,x,y):
    self.num = x+y

num1 = sum(10,12)
num2 = sum(13,14)
p = num1 + num2
print(p)

TypeError: ignored